<?xml version="1.0"?>
<launch>

    <!-- map_server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find graph_bringup)/maps/map.yaml"/>

    <!-- rosbridge_server -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- routes  -->
    <node pkg="robotnik_fms_routes" type="robotnik_fms_routes_node" name="robotnik_fms_routes_node" output="screen" respawn="false" launch-prefix="gdb -ex run --args">
        <param name="graph_file" value="$(find graph_bringup)/config/graph.xml" type="string" />
        <rosparam command="load" file="$(find graph_bringup)/config/config_routes.yaml" />
    </node>
    <!--launch-prefix="gdb -ex run - -args"-->

</launch>

