body {
    background-color: ivory;
}
#canvas {
    /*width: 600px;
    height: 400px;*/
    border: 1px solid lightgray;
}

p {
    max-width:600px;
}

h4 {
    margin-bottom:3px;
}
#map {
    position: relative;
}
#graph {
    position: relative;
}